<tr>
    <td><%= link_to game.name, game %></td>
    <td><%= link_to game.platform.name, game.platform %></td>
    <td><%= link_to game.genre.name, game.genre %></td>
    <td><%= game.year %></td>
    <td><%= game.ratings.count %></td>
</tr>