<h2><%= @game.name %></h2>
<table>
<tr>
    <th>Platform</th>
    <th>Metascore</th>
    <th>Userscore</th>
    <th>Year Released</th>
</tr>
<tr>
    <td><%= link_to @game.platform.name, @game.platform %></td>
    <td><%= @game.metascore %></td>
    <td><%= @game.ratings.average(:userscore) %></td>
    <td><%= @game.year %></td>
</tr>
</table>
<h3>Ratings</h3>
<table>
    <tr>
        <th>User</th>
        <th>Rating</th>
    </tr>
    <% @game.ratings.each do |rating| %>
        <tr>
            <td><%= rating.user.name %></td>
            <td><%= rating.userscore %></td>
        </tr>
    <% end %>
</table>

<p><%= link_to 'Back', games_path %></p>