<!DOCTYPE html>
<html>
  <head>
    <title>Games Feed</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>Welcome to Games Feed</h1>
    </header>
    <nav>
      <ul>
        <li><%= link_to 'Home', static_path(permalink: 'home') %></li>
        <li><%= link_to 'Games', games_path %></li>
        <li><%= link_to 'Platforms', platforms_path %></li>
        <li><%= link_to 'Genres', genres_path %></li>
        <li><%= link_to 'Users', users_path %></li>
        <li><%= link_to 'About Me', static_path(permalink: 'about-us') %></li>
        <li><%= link_to 'Contact', static_path(permalink: 'contact-us') %></li>
      </ul>
    </nav>
    <%= yield %>

    <footer>Created By Dwight Mopas 2019</footer>
  </body>
</html>
