<!DOCTYPE html>
<html>
  <head>
    <title>Games Feed</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Welcome to Games Feed</h1>
    <nav>
      <li><%= link_to 'Platforms', root_path %></li>
      <li><%= link_to 'Genres', genres_path %></li>
    </nav>
    <%= yield %>

    <footer>Created By Dwight Mopas 2019</footer>
  </body>
</html>
